RewriteEngine on
RewriteCond %{HTTP_HOST} ^algodonesfoundation.com/$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.algodonesfoundation.com$
RewriteRule ^index\.html$ "http\:\/\/algodonesfoundation\.com\/" [R=301,L]

RewriteCond %{REQUEST_URI} !dist/
RewriteRule (.*) /dist/$1 [L]