////////////////////////////////////
// Reboot
////////////////////////////////////


// Body

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html * {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-sans-serif;
  color: $text-color;
  font-size: $base-font-size;
  padding-top: remCalc(54); 
}

a{
	color: $link-color;
	@include transition(color 300ms ease-out);
	&:hover,
  &:focus {
    color: $link-hover-color;
  }
}

