<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Los Algodones Fundraising Event 2016 | Los Algodones Foundation</title>
		<meta name="description" content="Los Algodones Fundraising Event 2016 is the first event of Los Algodones Foundation in support of Take My Hand Daycare. Join us on 22/01/2016">
		<link href="assets/img/favicon.png" type="image/png" rel="icon">
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    
    <header>
  		<nav class="top-bar">
        <div class="top-bar-right">
          <ul class="horizontal menu" data-magellan>
            <li><a href="#home">Home</a></li>
            <li><a href="#cause">Cause</a></li>
            <li><a href="#artists">Artists</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

		{{> body}}
    

    <footer>
      <p class="copyright">Copyright &copy; 2016 Los Algodones Fundraising</p>
    </footer>
    <script src="assets/js/main.js"></script>
  </body>
</html>